* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 16px;
}

[class*="--container"] {
    max-width: 1440px;
    padding: 0 88px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    min-height: 808px;
    background-image: linear-gradient(180deg, rgba(2, 6, 11, 0.7) 0%, rgba(2, 6, 11, 0) 32.85%),
        url(../img/unsplash_gioH4gHo0-g.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 56px;
    background-attachment: fixed;
    position: relative;
}


.header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigation {
    display: flex;
    gap: 24px;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-list {
    padding: 16px;

}

.menu-link {
    color: #FCFCFC;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    padding-bottom: 10px;
    transition: 0.5s;
}

.icons>a {
    color: #FCFCFC;
    font-size: 30px;
}

.menu-link:hover {
    border-bottom: 3px solid #AB0433
}

#burgerBtn {
    background-color: transparent;
    border: none;
    color: #FCFCFC;
    font-size: 40px;
    display: none;
    cursor: pointer;
}

.heading--container {
    display: flex;
    flex-direction: column;
}

.heading-txt {
    max-width: 579px;
    padding: 178px 0;
}

.heading-txt>h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 2%;
    color: #ffffff;
}


.guitar-lessons-info {
    background-image: linear-gradient(rgba(171, 4, 51, 0.8), rgba(171, 4, 51, 0.8)), url(../img/redone.jpg);
    max-width: 1264px;
    border-radius: 10px;
    background-size: cover;
    box-shadow: 0px 12px 32px 0px #0000000D;
    box-shadow: 0px 2px 4px 0px #1C054D1A;
    background-position: center;
    width: 85%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 664px;
}


.guitar-lessons-info>h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    text-align: center;
}

.guitar-lessons-info>p {
    max-width: 616px;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    line-height: 149%;
    text-align: center;
    margin: 4px 0 16px 0;
}

.orange-btn {
    padding: 8px 16px;
    border-radius: 32px;
    border: none;
    background-color: #FF753A;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #ffffff;

}


.new-products--container {
    padding: 216px 88px 88px 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titles>h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #505050;
}

.red-line {
    height: 3px;
    background-color: #AB0433;
    width: 80px;
    margin: 8px;
}

.new-product-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    gap: 32px;

}

.prod-card {
    width: 400px;
    box-shadow: 0px 12px 32px 0px #0000000D, 0px 2px 4px 0px #1C054D1A;
    border-radius: 10px;
    position: relative;
    flex: 1 1 calc(25% - 10px);
    min-width: 300px;
    background-color: #ffffff;
}

.background-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 252px;
    background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%);
}

.cards-img>img {
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: -20px;
    margin: 0 auto;
    height: 260px;
}

.card-info {
    display: flex;
    flex-direction: column;
    padding: 16px 24px 24px;
}

.card-info span {
    margin-right: 3px;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
}

.gray-btn {
    border: 1px solid #EAEAEA;
    background-color: #ffffff;
    border-radius: 20px;
    color: #505050;
    align-self: start;
    padding: 2px 6px;
}

.item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #252525;
}

.price {
    color: #252525;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
}

.title-price {
    display: flex;
    justify-content: space-between;
}

.about-prod {
    color: #767676;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    margin: 6px 0 25px 0;
}

.lastOne {
    display: none;
}

#popularFinds {
    background-color: #ECECEC;
}

.popular-finds--container,
.gear-heads--container {
    padding: 88px 88px 88px 88px;
}

.seomthing-stuped {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 252px;
}

.cards-container1 {
    display: flex;
    gap: 32px;
    margin-top: 34px;
    justify-content: space-between;
}



.gear-card {
    width: 616px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.gear-card:nth-child(odd) {
    background-color: #252525;
    color: #FFFFFF;
}

.gear-card:nth-child(even) {
    color: #252525;
    background-color: #EAEAEA;
}

.gear-card-info {
    padding: 32px;
}

.gear-card-info>h6 {
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 130%;
}

.gear-card-info>p {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
}

.gear-card img {
    width: 100%;
    object-fit: cover;
    height: 487px;
}

footer {
    background-color: #505050;
}


.footer--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 69px 88px;
}

.footer-logo-and-media {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    gap: 27px;
}

.footer-info {
    display: flex;
    gap: 48px;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}

.white-line {
    height: 3px;
    background-color: #ffffff;
    width: 58px;
}

.infos>a {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.infos>a:nth-child(2) {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #ffffff;
}

.footer-media>a {
    color: #ffffff;
    font-size: 20px;
}

.footers-script--container {
    padding: 8px 100px;
}

.footers-script {
    background-color: #252525;
}

.footers-script p {
    color: white;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 140%;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #252525;
    color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
}

.mobile-menu.visible {
    transform: translateX(0);
}

.mobile-menu a {
    color: #fff;
    font-size: 18px;
    padding: 15px 0;
    transition: 0.5s;
}
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.menu-overlay.visible {
    display: block;
    opacity: 1;
}

.close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 72px;
    transition: color 0.3s;
}

.close-btn:hover {
    color:#AB0433;
}

@media screen and (max-width:1240px) {
    .menu-link {
        font-size: 14px;
        font-weight: 500;
    }
}

@media screen and (max-width:1100px) {
    .new-product-cards {
        flex-wrap: wrap;
        flex: 1 1 calc(50% - 10px)
    }

    .lastOne {
        display: block;
    }

    .hidden-card {
        display: none;
    }
}



@media screen and (max-width:1024px) {
    [class*="--container"] {
        max-width: 1024px;
        padding: 0 64px;
    }

    nav {
        display: none;
    }

    .icons {
        display: none;
    }

    #burgerBtn {
        display: block;
    }
    .icons-for-mobile{
        display: block;
        padding: 16px 16px;
    }

    .heading-txt {
        max-width: 475px;
    }

    .new-products--container {
        padding: 216px 63px 63px;
    }

    .popular-finds--container,
    .gear-heads--container,
    .footer--container {
        padding: 80px 63px 88px 63px;
    }

    .footers-script--container {
        padding: 8px 100px;
    }


}



@media screen and (max-width:775px) {
    .new-product-cards {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-logo {
        display: none;
    }
}

@media screen and (max-width:600px) {
    [class*="--container"] {
        max-width: 600px;
        padding: 0 24px;
    }

    .wrapper {
        object-fit: contain;
        width: 100%;
        min-height: 507px;
        background-position: 60% top;
    }

    .logo-link>img {
        width: 154px;
    }

    .guitar-lessons-info>h2 {
        font-size: 21px;
    }

    .guitar-lessons-info>p {
        font-size: 10px;
    }

    .heading-txt {
        padding: 110px 0;
    }

    .heading-txt>h1 {
        font-size: 32px;
        letter-spacing: 0%;
        text-align: center;
    }
    .close-btn {
        top: 50px;
        right: 32px;
    }

    .new-products--container {
        padding: 139px 24px 40px 24px;
    }

    .popular-finds--container,
    .gear-heads--container,
    .footer--container {
        padding: 40px 24px;
    }

    .guitar-lessons-info {
        padding: 18px 51px;
        top: 422px;
    }

    .prod-card {
        width: 100%;
    }

    .gear-card {
        width: 100%;
    }

    .new-product-cards {
        flex: 1 1 100%;
    }

    .my-account {
        justify-content: center;
        align-items: center;
    }

    .footer--container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .cards-container1 {
        flex-direction: column;
    }

    .store {
        display: none;
    }

    .footers-script--container {
        padding: 8px 100px;

    }

    .footers-script--container>p {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}